

@media (min-width:1200px){
    /* extra large*/
   
}

@media (min-width:992px) and (max-width:1199px){
    /* large */
    
    /* icon start*/
    .design{
        margin-left:50px
    }
    .eid1{
        margin-left:70px
    }
    
    .eid2{
        margin-left:0px;
    }

    /* icon end*/

    /*menu start*/
    .logo{
        margin-left: 20px;
    }

.menu .ul{
    float:right;
}

.menu .ul .li{
    display: inline-block;
    padding:5PX;
}

.menu .ul .li .a{
    font-size: 1em;
    text-decoration: none;
    color: rgb(255, 241, 241);
    padding: 3px 5px;
    border-radius: 5px;
}
/* menu end*/
    /* menu end*/

    
    /*content start*/
    .left{
        width: 100%;
        height: 100%;
        display: block;
        }
        
        .right{
         width: 100%;
         height: 150%;
         display: block;
        }
        
        .Middle{
        width: 39.5%;
        height: 100%;
        display: block;
        }
        /*content end*/
    
         /*footer start*/
        .footer{
        display:inline-block;
        }
        
            /*footer end*/


}

@media (min-width:768px) and (max-width:991px){

    /* medium*/

    /* icon start*/

    .right{
        display: none;
    }

    .middle{
        width:79.6%;
    }

    .icon .left-icon{
        width: 100%;
    }

    .icon .right-icon{
        width: 100%;
    }

    .icon .left-icon .eid1{
        margin-left: 280px;
    }

    .menu{
    width: 100%;
    background: rgb(255, 0, 255);
    height: 100px;
    border: 1px solid rgb(149, 63, 230);
}

/*icon end*/

/*menu start*/
.menu .ul{
    float:right;

}

.menu .ul .li{
    display: inline-block;
    padding:5PX;
}

.menu .ul .li .a{
    font-size: 1em;
    text-decoration: none;
    color: rgb(255, 241, 241);
    padding: 3px 5px;
    border-radius: 5px;
}
/* menu end*/


    /*content start*/
    .left{
        width: 100%;
        height: 100%;
        display: block;
        }
        
        .right{
         width: 100%;
         height: 90%;
         display: block;
        }
        
        .Middle{
            width: 39.5%;
            height: 100%;
        display: block;
        }
        /*content end*/
    
         /*footer start*/
        .footer{
        display:inline-block;
        }
            /*footer end*/

}




@media (min-width:576px) and (max-width:767px){

    /*small*/

    /*icon star*/

    .left{
        display: none;
    }
     .right{
         display: none;
     }
     .middle{
         width: 100%;
     }

     .icon .left-icon{
        width: 100%;
    }

    .icon .right-icon{
        width: 100%;
    }

    .icon .left-icon .eid1{
        margin-left: 135px;
    }

    .icon{
        width: 100%;
        height: 50px;
    }

    .menu{
        width: 100%;
        background: rgb(255, 0, 255);
        height: 100px;
        border: 1px solid rgb(149, 63, 230);
    }

    /* icon end*/

    /*menu start*/
    .check-btn{
        display: block;
    }

    #check:checked ~ .ul{
        left: 0;
    }

    .ul{
        position: fixed;
        width: 94.3%;
        height: 1000vh;
        text-align: center;
        background: rgb(92, 243, 248);
        left: -100%;
        transform:all .05s;
        margin-top: 100px;
        overflow: scroll;
    }

    .logo{
        width: 250px;
        height: 40px;
        margin-left: 215px;
    }

    .menu .ul .li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    /* menu end*/

    
    /*content start*/
    .left{
        width: 100%;
        height: 100%;
        display: block;
        }
        
        .right{
         width: 100%;
         height: 90%;
         display: block;
        }
        
        .Middle{
         width: 39.5%;
        height: 100%;
        display: block;
        }
        /*content end*/
    
         /*footer start*/
        .footer{
        display:inline-block;
        }
            /*footer end*/

    
}

@media (max-width:575px){

    /* extra small*/

    /*icon start*/

    .left{
        display: none;
    }
     .right{
         display: none;
     }
     .middle{
         width: 100%;
     }

     .icon .left-icon{
        width: 100%;
    }

    .icon .right-icon{
        width: 100%;
    }

    .icon .left-icon .eid1{
        margin-left: 1px;
    }

    .icon{
        width: 100%;
        height: 50px;
    }

    .menu{
        width: 100%;
        background: rgb(255, 0, 255);
        height: 100px;
        border: 1px solid rgb(149, 63, 230);
    }

    /*icon end*/


    /*menu start*/
    .check-btn{
        display: block;
    }

    #check:checked ~ .ul{
        left: 0;
    }

    .ul{
        position: fixed;
        width: 92%;
        height: 80vh;
        text-align: center;
        background: rgb(92, 243, 248);
        left: -100%;
        transform:all .05s;
        margin-top: 100px;
    }

    .logo{
        width: 250px;
        height: 40px;
        margin-left: 105px;
    }

    .menu .ul .li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    /* menu end*/

    /*slider start*/
    .bar{
        margin-left: 20px;
        margin-top: 170px;
    }
    /*slider end*/

    /*content start*/
    .left{
        width: 100%;
        height: 100%;
        display: block;
    }

    .right{
        width: 100%;
        height: 90%;
        display: block;
    }

    .Middle{
        width: 39.5%;
        height: 100%;
        display: block;
    }
    /*content end*/

    /*footer start*/
    .footer{
        width: 100%;
        height: 40px;
        display:inline-block;
    }
    



    /*footer end*/


    
}


